{{ $meta := dict "title" "Roadmap" "params" (dict "tabTitle" "Roadmap") }} 
{{ $metaJson := jsonify $meta }}
{{ $output := printf "%s" $metaJson }}
{{ $filename := "content/roadmap/_index.md" }}
{{ $resource := resources.FromString $filename $output }} 
{{ $file := $resource.RelPermalink }} 

{{ with resources.GetRemote (printf "%s/items/features" .Site.Params.api_url) }}
    {{ $pages := unmarshal .Content }}
    {{ range $pages.data }}
        {{ $meta := dict "slug" .slug "title" .name "params" (dict "status" .status "released_on" .released_on) "weight" .weight }} 
        {{ $metaJson := jsonify $meta }}
        {{ $content := .description }}
        {{ $output := printf "%s\n%s" $metaJson $content }}
        {{ $filename := printf "content/roadmap/%s.md" .slug }}
        {{ $resource := resources.FromString $filename $output }} 
        {{ $file := $resource.RelPermalink }} 
    {{ end }}
{{ end }}


{{ $meta := dict "title" "Product Updates" "summary" "Here you will find all the notable updates we make to Somari." "params" (dict "tabTitle" "Latest product updates") }} 
{{ $metaJson := jsonify $meta }}
{{ $output := printf "%s" $metaJson }}
{{ $filename := "content/updates/_index.md" }}
{{ $resource := resources.FromString $filename $output }} 
{{ $file := $resource.RelPermalink }} 

{{ with resources.GetRemote (printf "%s/items/updates" .Site.Params.api_url) }}
    {{ $pages := unmarshal .Content }}
    {{ range $pages.data }}
        {{ $meta := dict "slug" .slug "title" .title "date" .date "tags" .type }}
        {{ $metaJson := jsonify $meta }}
        {{ $content := .description }}
        {{ $output := printf "%s\n%s" $metaJson $content }}
        {{ $filename := printf "content/updates/%s.md" .slug }}
        {{ $resource := resources.FromString $filename $output }} 
        {{ $file := $resource.RelPermalink }} 
    {{ end }}
{{ end }}