{{ partial "cal/init-clickable.html" (dict "context" . "event_type" "pricing-request" ) }}

<div class="relative rounded-3xl bg-gray-900 p-8 shadow-2xl ring-1 ring-gray-900/10 sm:p-10">
    <h3 id="tier-enterprise" class="text-base font-semibold leading-7 text-indigo-400">{{ .Site.Params.pricing.plan_scale.name }}</h3>
    <p class="mt-4 flex items-baseline gap-x-2">
        <span class="text-5xl font-bold tracking-tight text-white">{{ .Site.Params.pricing.plan_scale.cost }}</span>
        <span class="text-base text-gray-400">{{ .Site.Params.pricing.plan_scale.unit }}</span>
    </p>
    <p class="mt-6 text-base leading-7 text-gray-300">{{ .Site.Params.pricing.plan_scale.description }}</p>
    <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-300 sm:mt-10">
        {{ range .Site.Params.pricing.plan_scale.features }}
        <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                data-slot="icon">
                <path fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                    clip-rule="evenodd" />
            </svg>
            {{ .name }}
        </li>
        {{ end }}
    </ul>
    <p class="mt-6 text-base leading-7 text-indigo-400">Add-ons</p>
    <ul role="list" class="mt-4 space-y-3 text-sm leading-6 text-gray-300 sm:mt-6">
        {{ range .Site.Params.pricing.plan_scale.addons }}
        <li class="flex gap-x-3">
            <svg class="h-6 w-6 flex-none text-indigo-400" viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            {{ .name }}
        </li>
        {{ end }}
    </ul>
    <button data-cal-link="guillaume/pricing-request" data-cal-namespace="pricing-request"
    data-cal-config='{"layout":"month_view"}' aria-describedby="scale-plan"
        class="w-full mt-8 block rounded-md bg-indigo-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 sm:mt-10">
        {{ .Site.Params.pricing.plan_scale.cta_label }}
</button>
</div>

<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">

  </svg>
