{{ partial "cal/init-clickable.html" (dict "context" . "event_type" "access-request" ) }}

<div
    class="rounded-3xl rounded-t-3xl bg-white/60 p-8 ring-1 ring-gray-900/10 sm:mx-8 sm:rounded-b-none sm:p-10 lg:mx-0 lg:rounded-bl-3xl lg:rounded-tr-none">
    <h3 id="tier-hobby" class="text-base font-semibold leading-7 text-indigo-600">{{ .Site.Params.pricing.plan_free.name
        }}</h3>
    <p class="mt-4 flex items-baseline gap-x-2">
        <span class="text-5xl font-bold tracking-tight text-gray-900">{{ .Site.Params.pricing.plan_free.cost }}</span>
        <span class="text-base text-gray-500">{{ .Site.Params.pricing.plan_free.unit }}</span>
    </p>
    <p class="mt-6 text-base leading-7 text-gray-600">{{ .Site.Params.pricing.plan_free.description }}</p>
    <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 sm:mt-10">
        {{ range .Site.Params.pricing.plan_free.features }}
        <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                data-slot="icon">
                <path fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                    clip-rule="evenodd" />
            </svg>
            {{ .name }}
        </li>
        {{ end }}
    </ul>
    <button data-cal-link="guillaume/access-request" data-cal-namespace="access-request"
        data-cal-config='{"layout":"month_view"}' aria-describedby="tier-hobby"
        class="w-full mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:mt-10">
        {{ .Site.Params.pricing.plan_free.cta_label }}
</button>
</div>