<div class="rounded-3xl bg-gray-900 p-8 ring-1 ring-gray-900 xl:p-10">
    <h3 id="tier-enterprise" class="text-lg font-semibold leading-8 text-white">{{ .name }}</h3>
    <p class="mt-4 text-sm leading-6 text-gray-300">{{ .description }}</p>
    <p class="mt-6 flex items-baseline gap-x-1">
        <span class="text-4xl font-bold tracking-tight text-white">{{ .cost}}</span>
        <span class="text-sm font-semibold leading-6 text-white">{{ .unit }}</span>
    </p>
    <a href="#" aria-describedby="tier-enterprise"
        class="mt-6 block rounded-md bg-white/10 px-3 py-2 text-center text-sm font-semibold leading-6 text-white hover:bg-white/20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Contact
        sales</a>
    <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-300 xl:mt-10">
        {{ range .features}}
        <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                data-slot="icon">
                <path fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                    clip-rule="evenodd" />
            </svg>
            {{ .name }}
        </li>
       {{ end }}
    </ul>
</div>