{{ define "main"}}

{{ partial "features/hero.html" . }}

{{ partial "features/primary_features.html" (dict "context" . "feature" .Site.Params.features.incident_reporting) }}
{{ partial "divider.html" . }}

{{ partial "features/primary_features.html" (dict "context" . "feature" .Site.Params.features.security_plan) }}
{{ partial "features/secondary_features.html" (dict "context" . "feature" .Site.Params.features.security_plan) }}
{{ partial "divider.html" . }}

{{ partial "features/primary_features.html" (dict "context" . "feature" .Site.Params.features.movement_tracking) }}
{{ partial "divider.html" . }}

{{ partial "features/primary_features.html" (dict "context" . "feature" .Site.Params.features.context_monitoring) }}
{{ partial "divider.html" . }}

{{ partial "features/primary_features.html" (dict "context" . "feature" .Site.Params.features.global) }}

{{ end }}