{{ define "main" }}

<div class="bg-white py-24 sm:py-20">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-4xl sm:text-center">
            <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
                Pricing</h2>
            <p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-gray-600">
                Simple user-based pricing that scales with your organization.
            </p>
        </div>
        {{ partial "pricing/plan.html" . }}
    </div>
</div>

{{ partial "pricing/addons.html" . }}

{{ partial "pricing/services.html" . }}

{{ partial "pricing/faq.html" . }}

{{ end }}