<div class="mx-auto max-w-7xl px-6 mb-20 lg:px-8">
    <h2 class="text-base/7 text-center font-semibold text-indigo-600 mb-6 lg:text-left">And there's more</h2>
    <dl
        class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 text-base/7 text-gray-600 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
        {{ range .feature.secondary }}
        <div class="relative pl-9">
            <dt class="inline font-semibold text-gray-900">
                <svg class="absolute left-1 top-1 size-5 text-indigo-600" viewBox="0 0 640 520" fill="currentColor"
                    aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd"
                        d="{{ .icon }}"
                        clip-rule="evenodd" />
                </svg>
                {{ .name }}
            </dt>
            <dd class="inline">{{ .desc }}</dd>
        </div>
        {{ end }}
    </dl>
</div>