{{ define "main" }}
<div class="relative isolate overflow-hidden px-6 py-24 sm:py-32 lg:px-8">
  <img src="/images/tools.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover brightness-50">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">{{ .Title }}</h2>
    <p class="mt-6 text-lg leading-8 text-white">{{ .Summary }}</p>
  </div>
</div>

<div class="bg-white mb-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 pt-5 sm:pt-10 lg:mx-0 lg:max-w-none">
      {{ range .Pages }}
      <article class="update border-b pb-16 flex max-w-3xl mx-auto flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">{{ .PublishDate.Format "Jan 2, 2006" }}</time>
          {{ with .GetTerms "tags" }}
            {{ range . }}
            <span class="tag-{{ .Name }} rounded bg-gray-50 px-2 py-1 font-medium">
              {{ .Name }}</span>
            </span>
            {{ end }}
          {{ end }}

        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900">
            {{ .Title }}
          </h3>
          <div class="mt-5 text-sm leading-6 text-gray-600">{{ .Content }}</div>
        </div>
      </article>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}