
<div class="relative max-w-md sm:max-w-2xl mx-auto">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="relative flex justify-center">
        <span class="bg-white px-2 text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                class="size-7 text-indigo-600">
                <path fill-rule="evenodd"
                    d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-.53 14.03a.75.75 0 0 0 1.06 0l3-3a.75.75 0 1 0-1.06-1.06l-1.72 1.72V8.25a.75.75 0 0 0-1.5 0v5.69l-1.72-1.72a.75.75 0 0 0-1.06 1.06l3 3Z"
                    clip-rule="evenodd" />
            </svg>
        </span>
    </div>
</div>


<div class="bg-white">
    <div class="px-6 pt-24 pb-8 sm:px-6 sm:pt-32 sm:pb-10 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-balance text-4xl font-semibold tracking-tight mb-8 text-gray-900 sm:text-5xl">
                There is a lot Somari can do. <span class="underline-curved">Try it!</span>
            </h2>
            <span class="inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-lg font-light text-yellow-800 ring-1 ring-inset ring-yellow-600/20">Incident Reporing</span>
            <span class="ml-3 mt-3 inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-lg font-light text-green-700 ring-1 ring-inset ring-green-600/20">Security Plans</span>
            <span class="ml-3 mt-3 inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-lg font-light text-blue-700 ring-1 ring-inset ring-blue-700/10">Maps</span>
            <span class="ml-3 mt-3 inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-lg font-light text-indigo-700 ring-1 ring-inset ring-indigo-700/10">Movement Tracking</span>
            <span class="ml-3 mt-3 inline-flex items-center rounded-md bg-purple-50 px-2 py-1 text-lg font-light text-purple-700 ring-1 ring-inset ring-purple-700/10">Risk Assessment</span>
            <span class="ml-3 mt-3 inline-flex items-center rounded-md bg-pink-50 px-2 py-1 text-lg font-light text-pink-700 ring-1 ring-inset ring-pink-700/10">Evacuation Itineraries</span>
            <span class="ml-3 mt-3 font-light inline-flex">And more!</span>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <button data-cal-link="guillaume/access-request" data-cal-namespace="access-request" data-cal-config='{"layout":"month_view"}'
                    class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Request Access</button>
                <a href="/features" class="text-sm/6 font-semibold text-gray-900">See features <span
                        aria-hidden="true">→</span></a>
            </div>
        </div>
    </div>
</div>
