<div class="bg-white">
  <div class="relative isolate">
    <div class="py-20 sm:py-26 lg:pb-40">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <div class="mb-8 flex justify-center">
            <div
              class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                {{ .Site.Params.hero.whats_new.pre }}
                <a
                  href="{{ .Site.BaseURL }}{{ .Site.Params.hero.whats_new.url }}"
                  class="font-semibold text-indigo-600">
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    {{ .Site.Params.hero.whats_new.title }}
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </div>
          </div>
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{{ .Site.Params.hero.title }}</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">{{ .Site.Params.hero.subtitle }}</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <button
              class="flex items-center rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500"
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/{{ .Site.Params.social.calendly_event }}?hide_gdpr_banner=1'});return false;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M9 4.5a.75.75 0 0 1 .721.544l.813 2.846a3.75 3.75 0 0 0 2.576 2.576l2.846.813a.75.75 0 0 1 0 1.442l-2.846.813a3.75 3.75 0 0 0-2.576 2.576l-.813 2.846a.75.75 0 0 1-1.442 0l-.813-2.846a3.75 3.75 0 0 0-2.576-2.576l-2.846-.813a.75.75 0 0 1 0-1.442l2.846-.813A3.75 3.75 0 0 0 7.466 7.89l.813-2.846A.75.75 0 0 1 9 4.5ZM18 1.5a.75.75 0 0 1 .728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 0 1 0 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 0 1-1.456 0l-.258-1.036a2.625 2.625 0 0 0-1.91-1.91l-1.036-.258a.75.75 0 0 1 0-1.456l1.036-.258a2.625 2.625 0 0 0 1.91-1.91l.258-1.036A.75.75 0 0 1 18 1.5ZM16.5 15a.75.75 0 0 1 .712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 0 1 0 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 0 1-1.422 0l-.395-1.183a1.5 1.5 0 0 0-.948-.948l-1.183-.395a.75.75 0 0 1 0-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0 1 16.5 15Z" clip-rule="evenodd" />
              </svg>              
              <span class="ml-2">Request Access</span>
            </button>
            <a class="group inline-flex ring-1 items-center justify-center rounded-full py-2.5 px-4 text-sm font-semibold focus:outline-none ring-slate-200 text-slate-700 hover:text-slate-900 hover:ring-slate-300 active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300"
              variant="outline" color="slate" href="{{ .Site.Params.hero.video_link }}"><svg aria-hidden="true"
                class="h-3 w-3 flex-none fill-blue-600 group-active:fill-current">
                <path
                  d="m9.997 6.91-7.583 3.447A1 1 0 0 1 1 9.447V2.553a1 1 0 0 1 1.414-.91L9.997 5.09c.782.355.782 1.465 0 1.82Z">
                </path>
              </svg><span class="ml-2">Watch video</span></a>
          </div>
        </div>
        <div class="mt-16 flow-root sm:mt-24">
          <div
            class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-4">
            <img src="{{ .Site.Params.hero.image }}" alt="App screenshot" width="2432" height="1442"
              class="rounded-md shadow-2xl ring-1 ring-gray-900/10">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>